* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  color: #fff;
  font-size: 18px;
  height: 56px;
  line-height: 56px;
  padding-left: 25px;
  background-color: #F44336;
}

input{
  border: none;
  padding: 7px;
  outline: none;
  width: 90%;
}

a{
  text-decoration: none;  
}

/*Estilos para Search*/
.stationItem{
  padding: 1em;
  border-bottom: 1px solid lightgray;
}

.stationItem p{
  color: gray;
  font-size: 0.8em;
}

.stationItem a{
  float: right;
  color: gray;
}
.no-encontrado{
  margin: 1.4em 5px;
}

/*Estilos para details de Station*/
#map{
  width: 100% !important;
  height: 400px !important;
  margin-bottom: 7px;
}

.detailsStation{
  padding: 1.4em;
  position: relative;
}
.detailsStation p:first-child{
  border-bottom: 1px solid gray;
  font-size: 18px;  
}

.detailsStation p:nth-child(2){
  font-size: 14px;
  margin: 10px 0;
}

.container-product{
  display: flex;
}

.container-product .product{
  background-color: #E6E6E6;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 7px;
  margin: 7px;
}

#regresar{
  position: absolute;
  top: 0;
  left: 10px;
  color: black;
}

#km{
  position: absolute;
  top: 1.4em;
  right: 1.4em;
  font-weight: bold;
}

/*Clases reutilizables*/
.bg-red{
  background-color: #F44336;
}

.bg-white{
  background-color: #fff;
}

.p-7{
  padding: 7px;
}

.bold{
  font-weight: 700;
}
